button {
    height: 32px;
}
.flex {
    display: flex;
}
.flex-vert {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.flex-vert button {
    display: flex;
    width: 250px;
    height: 50px;
    font-size: large;
}
h2 {
    margin: 15px;
}
.alert {
    color: red;
    display: none;
}
img {
    border: 5px solid black;
    border-radius: 200px;
    cursor: pointer;
}
img:active {
    margin-top: 5px;
    margin-bottom: -5px;
}
input[type="file"] {
    display: none;
}
.button {
    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2.5px;
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -10px;
    height: 20px;
    font-weight: normal;
    font-family: Arial;
    font-size: 0.85em;
    margin: -1px;
    text-align: left;
    vertical-align: middle;
    padding-top: 10px;
}
.button:hover {
    background-color: rgb(229, 229, 229);
    border: 1px solid rgb(88, 88, 88);
}
.button:active {
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(128, 128, 128);
}