button {
    height: 32px;
    border: none;
    margin: 3px;
    border-radius: 5px;
    background-color: #ccc;
    user-select: none;
}
.available {
    background-color: rgb(76, 248, 119);
    cursor: pointer;
}
.available:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 255, .2);
    background-color: rgb(108, 255, 145);
}
.available:active {
    background-color: rgb(187, 255, 204);
}

.button {
    background-color: rgb(76, 248, 119);
    cursor: pointer;
    border: none;
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: -20px;
    height: 22px;
    font-weight: normal;
    font-family: Arial;
    font-size: 0.85em;
    margin: 3px;
    border-radius: 5px;
    text-align: left;
    vertical-align: middle;
    padding-top: 10px;
    user-select: none;
}
.button:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 255, .2);
    background-color: rgb(108, 255, 145);
}
.button:active {
    background-color: rgb(187, 255, 204);
}



.flex {
    display: flex;
}
.flex-vert {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.flex-vert button {
    display: flex;
    width: 250px;
    height: 50px;
    font-size: large;
}
h1 {
    margin-left: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    margin: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alert {
    color: red;
    display: none;
}
img {
    border: 5px solid black;
    border-radius: 200px;
    cursor: pointer;
    margin-left: 50px;
    user-select: none;
    -webkit-user-drag: none;
}
img:hover {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 255, .2);
}
img:active {
    margin-top: 5px;
    margin-bottom: -5px;
    box-shadow: 0px 0px 5px 5px rgba(187, 255, 0, 0.2);
}
input[type="file"] {
    display: none;
}
