.sidebar {
    position: absolute;
    top: 42px;
    right: 10px;
    height: auto;
    width: auto;
    background-color: rgb(175,175,175);
    border: 5px solid rgb(150,150,150);
}

body {
    background-color: rgb(125,125,125);
}

label {
    font-size: 90%;
}

.dropdown-container {
    display: none;
    background-color: rgb(160,160,160);
    padding-left: 8px;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: rgb(255,255,255);
}

.sidenav a, .dropdown-btn {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(0,0,0);
    display: block;
    border: none;
    background: rgb(160,160,160);
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    text-align: left;
}