.sidebar {
    position: absolute;
    top: 42px;
    right: 10px;
    height: auto;
    width: auto;
    background-color: rgb(175,175,175);
    border: 5px solid rgb(150,150,150);
}

body {
    background-color: rgb(125,125,125);
}

label {
    font-size: 90%;
}