.boxes {
  border: 2px solid black;
  width: 100px;
  background: white;
}
.noteVal {
  border: 6px solid black;
  width: 50px;
}
table, td, th {
  border-collapse: collapse;
}
.measureCell {
  border: solid black;
  border-width: 2px;
  border-left-width: 4px;
}
#noteArea {
  overflow: scroll;
  height: 75%
}
.noteTable {
  width: 100%;
  table-layout: fixed;
}
