canvas {
        padding: 0;
    	margin: auto;
    	display: block;
    	width: 60vw;
    	height: 42vw;
    	position: absolute;
    	top: 1vw;
    	left: 3vw;
	background-color: rgb(175,175,175);
        border:5px solid rgb(150,150,150);
    }
    body {
        background-color: rgb(100,100,100)
    }
    .sidebar {
        position: absolute;
        top: 7vw;
        right: 15vw;
        height: auto;
        width: 17vw;
        background-color: rgb(185,185,185);
	border: 5px solid rgb(160,160,160);
    }
    table, th, td {
        border: 0px solid black;
    }
    table {
	margin: auto;    
    }
    a:link, a:visited {
	    font-family: impact;
	    font-size: 2vw;
	    color: rgb(0, 0, 0);
    }
    a:hover {
	    font-family: impact;
	    font-size: 2vw;
	    color: rgb(100, 100, 100);
    }
    a:active {
	    font-family: impact;
	    font-size: 2vw;
	    color: rgb(250, 250, 250);
    }
    header {
	    text-align: center;
	    height: 4.75vw;
	    margin-left: 65vw;
	    margin-right: 3vw; 
	    background-color: rgb(175,175,175);
	    border: 5px solid rgb(150,150,150);
    }
    th, tr {
	    font-size: 1vw;
    }
    button {
	    height: 1.2vw;
	    width: 3.25vw;
	    font-size: 0.8vw;
    }
    p {
	    font-size: 1vw;
	    text-align: center;
    }
